/*
font-family: 'Radley', serif;
font-family: 'Open Sans', sans-serif;

Colors:
mustard yellow : #f0cc5e
dark blue : #3d4d71
terracotta orange : #db6b28
dusty teal: #6799a4
white: #fff
*/

/* Box-sizing: Border-box source: https://www.paulirish.com/2012/box-sizing-border-box-ftw/*/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

img {
    width: 100%;
}

/*Global Styles*/
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.fontAwesome {
    font-family: 'Open Sans', 'FontAwesome', sans-serif;
}

.subnav {
    display: none;
}

/*Header & Main Nav Styles*/
header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 4em 4em 0 4em;
    transform: translateY(1.5em);
}

h1 {
    margin-bottom: 0;
    color: #db6b28;
    font-family: 'Radley', serif;
    font-size: 5em;
    letter-spacing: .02em;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 1.15em;
}

nav li {
    padding: 0 2em;
}

/*Main Section Styles*/
main {
    background-color: #f0cc5e;
    padding: 2em 4em;

}

/*Side Navigation Styles*/




/*Main Gallery Styles*/
figure {
    width: 20%;
}

figcaption.product-caption {
    display: none;
}


/*Cart Styles*/


