/*
font-family: 'Radley', serif;
font-family: 'Open Sans', sans-serif;

Colors:
mustard yellow : #f0cc5e
dark blue : #3d4d71
terracotta orange : #db6b28
dusty teal: #6799a4
white: #fff
*/

/* Box-sizing: Border-box source: https://www.paulirish.com/2012/box-sizing-border-box-ftw/*/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

img {
    width: 100%;
}

/*Global Styles*/
body {
    font-family: 'Open Sans', sans-serif;
}

.fontAwesome {
    font-family: 'Open Sans', 'FontAwesome', sans-serif;
}

.subnav {
    display: none;
}

figure {
    width: 20%;
}

figcaption.product-caption {
    display: none;
}
