/*
font-family: 'Radley', serif;
font-family: 'Open Sans', sans-serif;

Colors:
mustard yellow : #f0cc5e
dark blue : #3d4d71
terracotta orange : #db6b28
dusty teal: #6799a4
white: #fff
*/

/* Box-sizing: Border-box source: https://www.paulirish.com/2012/box-sizing-border-box-ftw/*/
html {
    box-sizing: border-box;
    height: 100vh;
}
*, *:before, *:after {
    box-sizing: inherit;
}

img {
    width: 100%;
}

/*Global Styles*/
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.fontAwesome {
    font-family: 'Open Sans', 'FontAwesome', sans-serif;
}

button {
    padding: .75em .8em;
    background-color: #db6b28;
    border: 3px #fff solid;
    color: white;
    font-size: .9em;
    font-weight: bold;
    letter-spacing: .05em;

}

/*Header & Main Nav Styles*/
header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 2em 4em 0 4em;
    transform: translateY(1.5em);
}

h1 {
    margin-bottom: 0;
    color: #db6b28;
    font-family: 'Radley', serif;
    font-size: 5em;
    letter-spacing: .02em;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 1.15em;
    color: #3d4d71;
}

nav li {
    padding: 0 2em;
}

/*Main Section Styles*/
.main-content {
    background-color: #f0cc5e;
    min-height: 84vh;
}

main {
    padding: 2em 4em;
    display: flex;
}

/*Side Navigation Styles*/
aside.sidebar {
    margin-top: 6em;
    flex-basis: 20%;
    color: #3d4d71;
}

aside.sidebar ul {
    list-style: none;
    padding: 0;
    position: sticky;
    margin: 0;
    font-weight: bold;
}

aside.sidebar li {
    padding: .25em 0;
}

aside.sidebar li:hover {
      color: #db6b28;
}

.navClosed {
    display: none;
}

.navOpen {
    display: block;
}

aside.sidebar ul ul li {
    padding: .15em 0 .15em 1em;
    color: #3d4d71;
}

aside.sidebar ul ul li:hover {
    color: #db6b28;
}


/*Search and Product Gallery Styles*/
.product-section {
    margin: 1em 2em;
    flex-basis: 90%;
}

section.search-bar {
    margin: 1em;
    position: relative;
}

section.search-bar input {
    width: 30em;
    height: 3em;
    border: 3px #db6b28 solid;
    padding: .75em .75em .75em 2.5em;
    font-size: .9em;
}

.search-icon {
    position: absolute;
    left: .75em;
    top: .9em;
    color: #db6b28;
}

div.gallery {
    display: flex;
    flex-flow: row wrap;
}

.gallery figure {
    margin: 1em;
    flex-basis: 27%;
}

figcaption.product-caption ul {
    list-style-type: none;
    padding: 0;
    margin: .5em;
    font-size: .8em;
    color: #3d4d71;
}

.product-name{
    font-size: 1.15em;
}

.product-price {
    text-align: right;
    transform: translateY(-3em);
    font-size: 1.25em;
}

.product-label {
    font-weight: 600;
}

figure button {
    display: flex;
    margin: 0 auto 1.5em auto;
    transform: translateY(-1.5em);
}

/*Footer Styles*/
footer {
    margin: 0;
}

footer ul {
    list-style: none;
    display: flex;
    color: #3d4d71;
}

footer li {
   padding: 1em;
}

/*Cart Styles*/


