<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Thrift My Closet</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Radley" rel="stylesheet">
        <link href="css/main.css" rel="stylesheet" type="text/css"/>
    </head>

    <body>
        <div id="app" v-cloak>
            <header>
                <h1>Thrift My Closet</h1>
                <nav>
                    <ul>
                        <li>Why Thrift</li>
                        <li>
                            <i class="fas fa-shopping-cart"></i>
                            (<span>{{numInCart}}</span>)
                        </li>
                    </ul>
                </nav>
            </header>

            <section class="main-content">
                <main>
                    <aside class="sidebar">
                        <ul class="main-categories">
                            <li> <span v-on:click="toggleSubNav('topsCategory')">Tops +</span>
                                <ul id="topsCategory" class="navClosed">
                                    <li v-on:click="search('teestanks')">Tees & Tanks</li>
                                    <li v-on:click="search('shirts')">Shirts</li>
                                    <li v-on:click="search('sweaters')">Sweaters</li>
                                    <li v-on:click="search('sweatshirts')">Sweatshirts</li>
                                </ul>
                            </li>
                            <li> <span v-on:click="toggleSubNav('bottomsCategory')">Bottoms +</span>
                                <ul id="bottomsCategory" class="navClosed" >
                                    <li v-on:click="search('jeans')">Jeans</li>
                                    <li v-on:click="search('pants')">Pants</li>
                                    <li v-on:click="search('skirts')">Skirts</li>
                                    <li v-on:click="search('shorts')">Shorts</li>
                                </ul>
                            </>
                            <li> <span v-on:click="toggleSubNav('accessoriesCategory')">Accessories +</span>
                                <ul id="accessoriesCategory"  class="navClosed">
                                    <li v-on:click="search('scarves')">Scarves & Bandanas</li>
                                    <li v-on:click="search('jewelry')">Jewelry</li>
                                    <li v-on:click="search('hats')">Hats</li>
                                    <li v-on:click="search('bags')">Bags</li>
                                </ul>
                            </li>
                            <li> <span v-on:click="toggleSubNav('shoesCategory')">Shoes +</span>
                                <ul id="shoesCategory" class="navClosed">
                                    <li v-on:click="search('sandals')">Sandals</li>
                                    <li v-on:click="search('flatsslides')">Flats & Slides</li>
                                    <li v-on:click="search('heels')">Heels</li>
                                    <li v-on:click="search('sneakers')">Sneakers</li>
                                    <li v-on:click="search('boots')">Boots</li>
                                </ul>
                            </li>
                        </ul>
                    </aside>

                    <section class="product-section">
                        <section class="search-bar">
                            <input type="text" id="searchInput" class="fontAwesome" v-model="searchInput" placeholder="Search..." v-on:keydown="search('')"/>

                            <span class="search-icon">
                                <i class="fas fa-search "></i>
                            </span>

                        </section>

                        <div class="gallery" v-if="searchResults.length <=0">
                            <inventory-component is="inventory-component" v-for="product in inventory" v-bind:key="product.id" v-bind:product="product"></inventory-component>
                        </div>

                        <div class="gallery" v-else="searchResults.length > 0">
                            <inventory-component is="inventory-component" v-for="product in searchResults" v-bind:key="product.id" v-bind:product="product"></inventory-component>
                        </div>
                    </section>


                </main>

                <footer>
                    <ul>
                        <li>Why Thrift?</li>
                        <li>Contact</li>
                    </ul>
                </footer>

            </section>
        </div>

        <script src="vendors/axios.js"></script>
        <script src="vendors/vue.js"></script>
        <script src="script.js"></script>
    </body>
</html>
