<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Thrift My Closet</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Radley" rel="stylesheet">
        <link href="css/main.css" rel="stylesheet" type="text/css"/>
    </head>

    <body>
        <div id="app" v-cloak>
            <header>
                <h1>Thrift My Closet</h1>
                <nav>
                    <ul>
                        <li>Why Thrift</li>
                        <li>
                            <i class="fas fa-shopping-cart"></i>
                            (0)
                        </li>
                    </ul>
                </nav>
            </header>

            <section class="main-content">
                <main>
                    <aside class="sidebar">
                        <ul class="main-categories">
                            <li> Tops <span class="sub-nav-icon">-</span>
                                <ul class="subnav">
                                    <li>Tees & Tanks</li>
                                    <li>Tops & Shirts</li>
                                    <li>Sweaters</li>
                                    <li>Sweatshirts</li>
                                </ul>
                            </li>
                            <li> Bottoms <span class="sub-nav-icon">-</span>
                                <ul class="subnav">
                                    <li>Jeans</li>
                                    <li>Pants</li>
                                    <li>Skirts</li>
                                    <li>Shorts</li>
                                </ul>
                            </li>
                            <li> Accessories <span class="sub-nav-icon">-</span>
                                <ul class="subnav">
                                    <li>Scarves & Bandanas</li>
                                    <li>Jewelry</li>
                                    <li>Hats</li>
                                    <li>Bags</li>
                                </ul>
                            </li>
                            <li> Shoes <span class="sub-nav-icon">-</span>
                                <ul class="subnav">
                                    <li>Sandals</li>
                                    <li>Flats & Slides</li>
                                    <li>Heels</li>
                                    <li>Sneakers</li>
                                    <li>Boots</li>
                                </ul>
                            </li>
                        </ul>
                    </aside>

                    <section class="product-section">
                        <section class="search-bar">
                            <form>
                                <input type="text" id="searchInput" class="fontAwesome" v-model="searchInput" placeholder="&#xf002; Search..." v-on:keydown="search"/>
                            </form>
                        </section>

                        <div class="gallery" v-if="searchResults.length <=0">
                            <inventory-component is="inventory-component" v-for="product in inventory" v-bind:key="product.id" v-bind:product="product"></inventory-component>
                        </div>

                        <div class="gallery" v-else="searchResults.length > 0">
                            <inventory-component is="inventory-component" v-for="product in searchResults" v-bind:key="product.id" v-bind:product="product"></inventory-component>
                        </div>
                    </section>


                </main>

                <footer>
                    <ul>
                        <li>Why Thrift?</li>
                        <li>Contact</li>
                    </ul>
                </footer>

            </section>
        </div>

        <script src="vendors/axios.js"></script>
        <script src="vendors/vue.js"></script>
        <script src="script.js"></script>
    </body>
</html>
